<div class="flex flex-col items-center dark mb-8">
  <!-- Help text -->
  <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white"><%= (@current_page.to_i - 1) * 20 %></span> to <span class="font-semibold text-gray-900 dark:text-white"><%= @current_page.to_i * 20 %></span> of <span class="font-semibold text-gray-900 dark:text-white"><%= @total_results %></span> Entries
  </span>
  <!-- Buttons -->
  <div class="inline-flex mt-2 xs:mt-0">
  		<% if @current_page.to_i > 1 %>
	      <div class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
		   		<%= link_to(
			      'Prev',
			      root_path('default-search': @query, page: @page.to_i - 1),
			      class: 'ml-auto transition-colors hover:text-green hover:cursor-pointer'
			    )%>
	      </div>
      <% end %>
      <% if @current_page.to_i < @total_pages.to_i %>
	      <div class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
		      <%= link_to(
			      'Next',
			      root_path('default-search': @query, page: @page.to_i + 1),
			      class: 'ml-auto transition-colors hover:text-green hover:cursor-pointer'
				  )%>
			  </div>
			<% end %>
  </div>
</div>
